.discover {
  padding: 0 4rem;
  padding-top: 4rem;
  display: flex;
  gap: 2rem;
}
.discover__left {
  flex: 1 1;
  display: grids;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-auto-rows: 1fr;
  position: relative;
}
.discover__left > h5 {
  width: 8rem;
  background: var(--first-color);
  padding: 2rem 2rem 2rem 2rem;
  position: absolute;
  margin-top: 2rem;
  font-size: x-large;
}
.discover__left > img {
  width: 50rem;
}
.discover__right{
    flex: 1 1;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}
.discover__right>div{
    margin-top: 4rem;
    display: flex;
    font-family: var(--second-font);
    font-style: italic;
    gap: 12rem;
}
.discover__right>div>h5{
    text-align: center;
    margin-top: 2rem;
    margin-left: 3rem;

}

.discover__right>div>img{
    display: flex;
    width: 100px;
    border-radius: 50%;
}
.discover__right>div>div{
    text-align: center;
    margin-top: 2rem;
}
.discover__right>div>div>h6{
    color: var(--hsla);
    font-style: normal;
}